services:
  - type: web
    name: metrics-utility-service
    env: node
    plan: free
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: TELEGRAM_BOT_TOKEN
        sync: false
      - key: TELEGRAM_CHAT_ID
        sync: false
      - key: PORT
        value: 10000
